<form action="/add" method="Post">
    <p>Equipe:</p>
    <input type="text" name="equipe">
    <p>Atividade:</p>
    <textarea name="atividade"></textarea>
    <p>Líder:</p>
    <input type="text" name="lider">
    <button type="Enviar">Cadastrar Equipe</button>
</form>